html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

button {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #C0C0C0; }

input[type='text']::placeholder {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 16px; }

select {
  font-family: 'Roboto', sans-serif; }

.container {
  width: 100%;
  height: 100%; }
  .container .info {
    display: flex; }
    .container .info .error-container {
      width: 50%;
      display: flex;
      justify-content: center; }
      .container .info .error-container .error {
        display: none;
        width: 300px;
        height: 30px;
        background-color: red;
        outline: darkred 3px solid;
        text-align: center;
        line-height: 30px;
        margin: 10px; }
    .container .info .player-total-score-container {
      width: 50%;
      display: flex;
      justify-content: center; }
      .container .info .player-total-score-container .player-total-score {
        display: none;
        width: 300px;
        height: 30px;
        background-color: limegreen;
        outline: green 3px solid;
        text-align: center;
        line-height: 30px;
        margin: 10px; }
  .container .course-selection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 45%; }
    .container .course-selection .course {
      width: 180px;
      height: 200px;
      border: 1px solid #000000;
      text-align: center;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 10px 10px 31px -13px rgba(0, 0, 0, 0.75);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .container .course-selection .course .name {
        margin: 5px 0; }
  .container .score-card-container {
    width: 100%;
    display: flex;
    justify-content: center; }
    .container .score-card-container * {
      box-sizing: border-box; }
    .container .score-card-container .tee-selection {
      display: none; }
    .container .score-card-container .score-card {
      border: 1px solid #000000;
      display: none;
      width: auto; }
      .container .score-card-container .score-card .holes, .container .score-card-container .score-card .yardage, .container .score-card-container .score-card .handicap {
        display: flex;
        text-align: center; }
      .container .score-card-container .score-card .holes input[type='text'], .container .score-card-container .score-card .yardage input[type='text'] {
        padding-top: 5px; }
      .container .score-card-container .score-card .holes #first-column, .container .score-card-container .score-card .yardage #first-column {
        width: 200px; }
      .container .score-card-container .score-card .holes .firstColumn, .container .score-card-container .score-card .holes .score-boxes, .container .score-card-container .score-card .holes .boxes, .container .score-card-container .score-card .yardage .firstColumn, .container .score-card-container .score-card .yardage .score-boxes, .container .score-card-container .score-card .yardage .boxes {
        height: 30px;
        border: 1px solid #000000;
        line-height: 30px; }
      .container .score-card-container .score-card .holes .firstColumn, .container .score-card-container .score-card .yardage .firstColumn {
        width: 200px; }
      .container .score-card-container .score-card .holes .col, .container .score-card-container .score-card .holes .boxes, .container .score-card-container .score-card .yardage .col, .container .score-card-container .score-card .yardage .boxes {
        width: 45px; }
      .container .score-card-container .score-card .holes .scores, .container .score-card-container .score-card .holes .score-boxes, .container .score-card-container .score-card .yardage .scores, .container .score-card-container .score-card .yardage .score-boxes {
        width: 80px; }
