$black: #000000;
$dark-gray: #282828;
$gray: #696969;
$silver: #C0C0C0;
$white: #ffffff;
$box-shadow: 10px 10px 31px -13px rgba(0,0,0,0.75);

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: $silver;
}